/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.flex-box {
  display: flex;
  justify-content: center;
}
.flex-box-mobile {
  flex-wrap: wrap;
}
.odd-table tr:nth-child(odd) {
  background-color: #FAFAFA;
  transition: 0.1s;
}
.odd-table tr:nth-child(odd):hover {
  background-color: #B3E5FC;
}
.even-table tr:nth-child(even) {
  background-color: #dddddd;
  transition: 0.1s;
}
.even-table tr:nth-child(even):hover {
  background-color: #29B6F6;
}
.hover-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hover-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.header {
  background-color: #81D4FA;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header nav {
  margin: 30px 150px;
}
.header nav a {
  padding: 0 10px;
  text-decoration: none;
  color: #383838;
}
@media (max-width: 1024px) {
  .header nav {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
}
.header header {
  display: flex;
  justify-content: center;
}
.header header .header-text {
  align-self: center;
  color: #212121;
  margin-right: -80px;
  z-index: 100;
  font-weight: bold;
  color: #383838;
}
.header header h1 {
  font-size: 60px;
  text-align: right;
  font-family: 'Carter One', cursive;
}
.header header h6 {
  font-size: 30px;
  text-align: right;
}
.header header img {
  width: 45rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header header img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 1024px) {
  .header header {
    flex-wrap: wrap;
  }
  .header header .header-text {
    margin-top: 20px;
    margin-right: 0;
    text-align: center;
  }
  .header header img {
    width: 100%;
  }
  .header header .header-text {
    order: 2;
  }
  .header header .header-img {
    order: 1;
  }
}
.contact {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.contact .contact-text {
  align-self: center;
}
.contact h6 {
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  margin-right: 20px;
}
.contact button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.contact button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 500px) {
  .contact {
    flex-wrap: wrap;
  }
  .contact div {
    margin: 5px 0;
  }
}
.container {
  margin: 0 20%;
}
@media (max-width: 1024px) {
  .container {
    margin: 0 10%;
  }
}
.about-me {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.about-me div {
  width: 48%;
  text-align: center;
}
.about-me h3 {
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
}
.about-me p {
  padding: 5px;
}
.about-me ul {
  margin: 10px 50px;
  text-align: left;
}
.about-me table {
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.about-me table:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about-me td,
.about-me th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.about-me tr:nth-child(odd) {
  background-color: #FAFAFA;
  transition: 0.1s;
}
.about-me tr:nth-child(odd):hover {
  background-color: #B3E5FC;
}
.about-me tr:nth-child(even) {
  background-color: #dddddd;
  transition: 0.1s;
}
.about-me tr:nth-child(even):hover {
  background-color: #29B6F6;
}
@media (max-width: 1024px) {
  .about-me {
    flex-wrap: wrap;
  }
  .about-me div {
    width: 90%;
    margin: 20px 0;
  }
}
.work h3 {
  font-size: 30px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}
.work table {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.work table:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.work td,
.work th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.work td:hover {
  background-color: #383838;
  color: #FAFAFA;
}
.work tr:nth-child(odd) {
  background-color: #FAFAFA;
  transition: 0.1s;
}
.work tr:nth-child(odd):hover {
  background-color: #B3E5FC;
}
.work tr:nth-child(even) {
  background-color: #dddddd;
  transition: 0.1s;
}
.work tr:nth-child(even):hover {
  background-color: #29B6F6;
}
footer {
  background-color: #212121;
  color: #FAFAFA;
  text-align: center;
  padding: 20px 0;
}
